// MY THEME COLORS 
$gray:  #202142;
$gray-light:  #FCFCFF;
$pink:    #FF6A95;
$footer: #151414;

$primary:       $gray;
$secondary:     $gray-light;

@import "../node_modules/bootstrap/scss/bootstrap.scss";